<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>BibliotecaWEB</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <h1>📚 Biblioteca TESTEEEE</h1>

            <p class="text-muted">
                Usuário: {{ user.username }}
            </p>
        </div>

        <form action="{% url 'logout' %}" method="POST">

         {% csrf_token %}

            <button type="submit" class="btn btn-dark">
                Sair
            </button>

        </form>

    </div>

    <form method="GET" class="d-flex mb-3">
        <input type="text" name="pesquisa" class="form-control me-2" placeholder="Pesquisar livro">
        <button class="btn btn-primary">Pesquisar</button>
    </form>

    {% if user.is_superuser %}

        <a href="{% url 'criar_livro' %}" class="btn btn-success mb-3">
            + Novo Livro
        </a>

    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Capa</th>
                <th class="text-center">Título</th>
                <th class="text-center">Autor</th>
                <th class="text-center">Gênero</th>
                <th class="text-center">Ano</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for livro in livros %}
            <tr>

                <td class="text-center align-middle">
                    {% if livro.capa %}
                        <img src="{{ livro.capa }}" width="80">
                    {% endif %}
                </td>

                <td class="text-center align-middle">
                    {{ livro.titulo }}
                </td>

                <td class="text-center align-middle">
                    {{ livro.autor }}
                </td>

                <td class="text-center align-middle">
                    {{ livro.genero }}
                </td>

                <td class="text-center align-middle">
                    {{ livro.ano }}
                </td>

                <td class="text-center align-middle">
                    {{ livro.quantidade }}
                </td>

                <td class="text-center align-middle">

                    {% if user.is_superuser %}

                    <a href="{% url 'editar_livro' livro.id %}" class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a href="{% url 'excluir_livro' livro.id %}" class="btn btn-danger btn-sm">
                        Excluir
                    </a>

                    {% else %}

                    <span class="text-muted">
                        Somente visualização
                    </span>

                    {% endif %}

                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

</body>
</html>